*.jar
*.class
*.war
*.log*
*.lck
*.fdt
*.fdx
*.fnm
*.nvd
*.nvm
*.si
*.doc
*.pos
*.tim
*.tip
*.dii
*.dim
*.tvd
*.tvx
*.liv
*.dvd
*.dvm
tlog.*
segments_*
index/*
data/*
/example/example-DIH/hsqldb/
/example/example-DIH/solr/tika/data/
/example/example-DIH/solr/tika/data/tlog/
dataimport.properties
/bin/*.pid
/example/exampledocs/ebooks

